@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-firefox, .icon-IE, .icon-opera, .icon-chrome, .icon-safari, .icon-css3, .icon-github, .icon-point-down, .icon-spam, .icon-info, .icon-enter, .icon-globe, .icon-heart, .icon-notification, .icon-earth, .icon-facebook, .icon-github-2, .icon-download {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-firefox:before {
	content: "\21";
}
.icon-IE:before {
	content: "\22";
}
.icon-opera:before {
	content: "\23";
}
.icon-chrome:before {
	content: "\24";
}
.icon-safari:before {
	content: "\25";
}
.icon-css3:before {
	content: "\26";
}
.icon-github:before {
	content: "\27";
}
.icon-point-down:before {
	content: "\28";
}
.icon-spam:before {
	content: "\29";
}
.icon-info:before {
	content: "\2a";
}
.icon-enter:before {
	content: "\2b";
}
.icon-globe:before {
	content: "\2d";
}
.icon-heart:before {
	content: "\2e";
}
.icon-notification:before {
	content: "\2f";
}
.icon-earth:before {
	content: "\30";
}
.icon-facebook:before {
	content: "\31";
}
.icon-github-2:before {
	content: "\32";
}
.icon-download:before {
	content: "\2c";
}
