@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
.btnl {
    box-shadow: 0px 5px 0px #BE392B;
}

p {
    font-family: 'Averia Sans Libre', cursive;
    text-align: center;
    color: #2e3436;
}

.footercusthtml5 {
    font-size: 34px;
}

a:hover {
    color: #E34C26;
}

.Googol {
    font-family: 'Conv_Catull';
    text-align: center;
    font-size: 85px;
}

.Googol_Colour {
    color: #2E5CEB;
}

.Googol_Colour_0 {
    color: #E92D3F;
    font-family: "Conv_Catull";
}

.Googol_Colour_1 {
    color: #FDBA17;
}

.Googol_Colour_2 {
    color: #2E5CEB;
}

.Googol_Colour_3 {
    color: #E92D3F;
}

.Googol_Colour_4 {
    color: #069519;
}

.Googol_Colour_5 {
    color: #FDBA17;
}

.Googol_Colour_6 {
    color: #069519;
}

.Googol_Colour_7 {
    color: #E92D3F;
}

.Googol_Colour_8 {
    color: #2E5CEB;
}

.Googol_Colour_9 {
    color: #E92D3F;
}

.Googol_Colour_10 {
    color: #2E5CEB;
}

.Googol_Simulator_Font_Colour {
    font-family: 'Averia Sans Libre', cursive;
    color: #000000;
    font-size: 58px;
}

h1 {
    font-family: "Conv_Catull";
    font-size: 140px;
}

h3 {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 40px;
    color: #2e3436;
    
    -webkit-transform: translate(0px, -66px) rotate(5.8deg) rotateX(12deg) skew(0deg, 0deg) scale(0.7, 0.7);
    -moz-transform: translate(0px, -66px) rotate(5.8deg) rotateX(12deg) skew(0deg, 0deg) scale(0.7, 0.7);
    -o-transform: translate(0px, -66px) rotate(5.8deg) rotateX(12deg) skew(0deg, 0deg) scale(0.7, 0.7);
    -ms-transform: translate(0px, -66px) rotate(5.8deg) rotateX(12deg) skew(0deg, 0deg) scale(0.7, 0.7);
    transform: translate(0px, -66px) rotate(5.8deg) rotateX(12deg) skew(0deg, 0deg) scale(0.7, 0.7);
}

.Download {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 30px;
    color: #FFF;
}