@import url(http://fonts.googleapis.com/css?family=Averia+Sans+Libre);
@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
p {
    font-family: 'Averia Sans Libre', cursive;
    font-size: 48px;
    color: #2e3436;
}

h1 {
    font-family: 'Conv_Catull';
}

div {
    width: 128px;
    height: 128px;
    margin: auto;
}

.Googol_Colour {
    color: #2E5CEB;
}

.Googol_Colour_0 {
    color: #E92D3F;
}

.Googol_Colour_1 {
    color: #FDBA17;
}

.Googol_Colour_2 {
    color: #2E5CEB;
}

.Googol_Colour_3 {
    color: #E92D3F;
}

.Googol_Colour_4 {
    color: #069519;
}

.Googol_Colour_5 {
    color: #FDBA17;
}

.Googol_Colour_6 {
    color: #069519;
}

.Googol_Colour_7 {
    color: #E92D3F;
}

.Googol_Colour_8 {
    color: #2E5CEB;
}

.Googol_Colour_9 {
    color: #E92D3F;
}

.Googol_Colour_10 {
    color: #2E5CEB;
}

.Googol_Simulator_Font_Colour {
    font-family: 'Averia Sans Libre', cursive;
    color: #333 font-size: 32px;
}

.loader {
    margin: 6em auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid #16789C;
    border-right: 1.1em solid #16789C;
    border-bottom: 1.1em solid #16789C;
    border-left: 1.1em solid #FFAA00;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 0.5s infinite linear;
    animation: load8 0.5s infinite linear;
}

.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}

@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}