{% extends 'app_layout.html' %}
{% block custom_css %}
	<link href="css/app/1.css" rel="stylesheet">
{% endblock %}
{% block custom_js %}
	<script src="js/app/1.js" type="text/javascript" charset="utf-8"></script>
	<script src="components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}
{% block content %}
<center>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h3>You are about to download:</h3>
    <div align="center"><span class="Googol"> <span class="Googol_Colour">G</span><span class="Googol_Colour_0">o</span><span class="Googol_Colour_1">o</span><span class="Googol_Colour_2">g</span><span class="Googol_Colour_3">o</span><span class="Googol_Colour_4">l</span> <span class="Googol_Colour_5">G</span><span class="Googol_Colour_6">L</span><span class="Googol_Colour_7">a</span><span class="Googol_Colour_8">D</span><span class="Googol_Colour_9">O</span><span class="Googol_Colour_10">S</span></span>
    </div>
    <p><b>I agree</b> to the <b>180</b> page Terms and Conditions.</p>
    <input type="checkbox" id="tick" style="margin-top: 0px; width: 25px;height: 25px;">
    <br>
    <button class="btn btn-1-1 btn-danger" OnClick="next()" input value="Download" type="button" style="padding: 29px 50px;">Download!</button>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</center>
{% endblock %}