{% extends 'app_layout.html' %}
{% block custom_css %}
	<link href="css/app/10.css" rel="stylesheet">
{% endblock %}
{% block custom_js %}
	<script src="js/app/10.js" type="text/javascript" charset="utf-8"></script>
	<script src="components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="components/howler/howler.min.js" type="text/javascript" charset="utf-8"></script>
    <script>umad()</script>
{% endblock %}
{% block content %}
<img src="img/googol_glados_evil.svg" id="gladosimg" style="position:absolute;top:120;left:40%;margin-left:-160;width:210;z-index:1;"></img>
<img align="right" class="animated flipInY" src="img/FRAUD.png" id="webbrowser"></img>
<span id="gladosbody" style="position:absolute;right:37%;width:120;"></span>
</center>
</div>
<center>
    <div id="linkdiv" style="position:absolute;bottom:54;left:50%;margin-left:-150;width:300;"></div>
</center>
</div>
{% endblock %}