{% extends 'app_layout.html' %}
{% block custom_css %}
    <link href="css/app/5.css" rel="stylesheet">
{% endblock %}
{% block custom_js %}
    <script src="js/app/5.js" type="text/javascript" charset="utf-8"></script>
    <script src="components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    {% endblock %}
{% block content %}
<center>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <center>
            <div class="loader">Loading...</div>
            <br>
            <br>
            <br>
            <br>
        </center>
        <p class="animated fadeInRight">Booting in <span class="Googol_Simulator_Font_Colour" id="countdownnumber">9</span></p>
</center>
{% endblock %}