{% extends 'app_layout.html' %}

{% block custom_css %}
	<link href="css/app/6.css" rel="stylesheet">
{% endblock %}

{% block custom_js %}
	<script src="js/app/6.js" type="text/javascript" charset="utf-8"></script>
	<script src="components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="components/howler/howler.min.js" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block content %}
<center>
    <span class="animated fadeIn"><img id="glados" width="65%", src="img/googol_glados.svg"/>
</span>
    <br>
    <div id="linkdiv"></div>
    <script>setTimeout('detectIgnore()', 11000)</script>
</center>
{% endblock %}