{% block headers %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Googol GLaDOS:simulator</title>
    <meta name="description" content="A web simulation recreating the animation Googol GLaDOS.">
    <meta name="author" content="Wesley Hill and Alex I'Anson">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="img/icon.gif" rel="shortcut icon">
    <!-- icons -->
    <link rel="icon" type="image/png" href="img/favicon/favicon.png">
    <link rel="shortcut icon" type="image/x-icon" href="img/favicon/favicon.ico">
    <link rel="apple-touch-icon" href="img/apple-icons/apple-touch-icon-iphone.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icons/apple-touch-icon-ipad.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icons/apple-touch-icon-iphone4.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icons/apple-touch-icon-ipad3.png" />
    <!-- css -->
    <link href="components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
	<link href="css/normalize.min.css" rel="stylesheet" >
	<link href="css/docs.css" rel="stylesheet">
	<link href="css/animate-custom.css" rel="stylesheet">	
	<link href="css/flat-ui.css" rel="stylesheet">
	<link href="css/fonts.css" rel="stylesheet">
	<link href="css/bootstrap-responsive.css" rel="stylesheet">
   	<link href="css/real-world.css" rel="stylesheet">
   	<link href="css/modern-buttons.css" rel="stylesheet">
</head>
{% endblock %}