{% extends 'index_layout.html' %}

{% macro mwl() %}
    {{ words | random }}
{% endmacro %}

{% macro hosted_on() %}
 {% if on_heroku == "true" %}
<div class="col-md-6 col-md-offset-3 text-center">
    <li>
        <br>
        <p align="center">
            <a href="https://heroku.com"><img src="img/built-on-heroku-dark-on-light.png"></a>
        </p>
    </li>
</div>
 {% endif %}
{% endmacro %}

{% block custom_css %}
        <link href="css/app/index.css" rel="stylesheet">
{% endblock %}

{% block custom_js %}
    <!-- JS -->
    <script src="components/jquery/dist/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="components/howler/howler.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="js/app/index.js" type="text/javascript" charset="utf-8"></script>
    <!-- End JS  -->
{% endblock %}

{% macro version() %}
 {% if v.show_release_name == "true" %}
    {{ v.version }}-{{ v.release_name }}
    {% else %}
    {{ v.version }}
 {% endif %}
{% endmacro %}

{% block index %}
    <!--[if lt IE 7]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <video class="animated-slow fadeIn" id="video_background" preload="auto" muted="true" autoplay="true" loop="loop">
        <source src="media/ggs.mp4" type="video/mp4" />
    </video>
    <!-- Full Page Image Header Area -->
    <div id="top" class="animated fadeInUp header">
        <div class="vert-text">
            <div class="row">
                <div class="col-md-8 col-md-offset-2 text-center">
                    <div align="center"> <span class="Googol_Colour"><span class="Googol">G</span><span class="Googol Googol_Colour_0">o</span><span class="Googol Googol_Colour_1">o</span><span class="Googol Googol_Colour_2">g</span><span class="Googol Googol_Colour_3">o</span><span class="Googol Googol_Colour_4">l</span> &nbsp; <span class="Googol Googol_Colour_5">G</span><span class="Googol Googol_Colour_6">L</span><span class="Googol Googol_Colour_7">a</span><span class="Googol Googol_Colour_8">D</span><span class="Googol Googol_Colour_9">O</span><span class="Googol Googol_Colour_10">S</span> </span><span class="p Googol_Simulator_Font_Colour"> simulator </span></div>
                    <h6 class="black lead" align="center">An  <b>experiment</b> of recreating the animation <a href="http://www.youtube.com/watch?v=sDhc4mKtMkU"><i>'Googol GLaDOS'</i></a> for the web.</h6>
                        <h6 class="black lead"><a href="#intro" style="text-decoration: underline;"><small>You <b>must</b> read the instructions before continuing.</small></a></h6>
                        <a href="#launch" class="btn btn-1 btn-1a">Launch Simulator!</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Full Page Image Header Area -->
        <!-- Intro -->
        <div id="intro" class="intro">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <center>
                        <h1 class="ion-alert-circled white"></h1>
                        </center>
                        <h2 class="white">Instructions</h2>
                        <hr>
                        <h4>1. Watch the animation <a href="http://www.youtube.com/watch?v=sDhc4mKtMkU">Googol GLaDOS</a></a>.</h4>
                        <br>
                        <h4>2. You may have to wait a few seconds because the simulator caches all the files for offline use.</h4>
                        <br>
                        <h4>3. <a href="#top">Launch</a> the simulator and have fun! :D</h4>
                        <br>
                        <h4>Note: <i>Everything you see from the simulator are just animations, it is harmless.</i></h4>
                        <h1 class="ion-social-chrome-outline white"></h4>
                        <h4>Google Chrome is the <b>recommended</b> browser for good results.</h4>
                        <h4><i>Use a different browser at your own risk!</i></h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Intro -->
        <!-- Mirrors -->
        <div id="mirrors" class="mirrors">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-md-offset-4 text-center">
                        <center>
                        <h1 class="ion-ios-world white"></h1>
                        </center>
                        <h2>Mirrors</h2>
                        <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-md-offset-2 text-center">
                        <h5>First.</h5>
                        <div class="service-item">
                            <a href="http://ggs.hakobaito.co.uk/"><h1 class="ion-ios-circle-filled white"></h1></a>
                            <h5></h5>
                            <h5>Official</h5>
                            <p class="white">The official location of the Googol GLaDOS Simulator.</p>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <h5>Others.</h5>
                        <div class="service-item">
                            <a href="http://ggs.hakobaito.co.uk/list"><h1 class="ion-ios-circle-outline white"></h1></a>
                            <h5>Other Mirrors</h5>
                            <p class="white">A List of Googol GLaDOS Simulator Mirrors.</p>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <h5>Social.</h5>
                        <div class="service-item">
                            <a href="https://www.facebook.com/appcenter/googolgladosimulator"><h1 class="ion-contrast white"></h1></a>
                            <h4>Facebook</h4>
                            <p class="white">Try the simulator on Facebook!</p>
                        </div>
                    </div>
                    <div class="col-md-2 text-center">
                        <h5>Genesis.</h5>
                        <div class="service-item">
                            <a href="http://alexianson.co.uk/archive/gg/"><h1 class="ion-record white"></h1></a>
                            <h4>The Original</h4>
                            <p class="white">The original Googol GLaDOS Simulator. (Offline.)</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Mirrors -->
        <!-- Downloads -->
        <div id="download" class="block">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <br>
                        <br>
                        <center>
                        <h1 class="ion-archive white"></h1>
                        </center>
                        <h2>Downloads</h2>
                        <hr>
                        <h4 class="white">The Googol GLaDOS Simulator is <b>open source</b>.</h4>
                        <h5>This means you can host your own version of the simulator online.<h5>
                        <h5>You can download the source code below from GitHub.<h5>
                        <div class="text-center">
                            <center>
                            <h3>GitHub</h3>
                            <a href="http://git.io/I_Qa2Q"  target="_blank">
                            <div class="service-item">
                                <button class="white btn btn-6 btn-6d"><h1 class="ion-social-github white"></h1></button>
                            </div>
                            </a>
                            <p class="white">{{ version() }}</p>
                            </center>
                            <br>
                            <h5>Or you can set one <a href="https://heroku.com/deploy?template=https://github.com/hako/googol-glados-simulator" class="black"><b> up right now!</b></a> <i>(Requires a Heroku account)</i><h5>
                            <br>
                            <br>
                            <br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Downloads -->
        <!-- Before You Continue... -->
<div id="block3" class="block_3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                &nbsp;
                <br>
                <br>
                <br>
                <br>
                <p id="launch"></p>
                <br>
                <br>
                <h2>Before you continue...</h2>
                <hr>
                <center>
                    <h3>This simulator is an animated simulation of the cartoon "Googol GLaDOS".</h3>
                    <br>
                    <h2><u class="red">It is not a virus.</u></h2>
                    <br>
                    <h3>It's all just animations, nothing will happen to your computer.</h3>
                    <p><i class="white">(Just, lettin you know.)</i></p>
                    <br>
                    {% if mob == true %}
                    <h3><i class="white">Sorry, Your device is not supported!</i></h3>
                    <button id="nextButton" class="btn black btn-1-1 btn-default" disabled="disabled">
                        <h2 class="ion-close-circled red"></h2>
                    </button> 
                    {% else %}
                    <button id="nextButton" class="btn btn-1-1 btn-default" OnClick="next()" style="padding: 29px 48px;">Continue!</button> 
                    <button id="chickenButton" class="btn btn-1-1 btn-warning" OnClick="chicken()"  style="padding: 29px 50px;">I'm too scared!</button>
                    {% endif %}
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                <br>
            </div>
        </div>
        </center>
    </div>
</div>
</div>
</div>
<!-- End Before You Continue-->
<!-- About -->
<div id="intro" class="block_2">
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
            <br>
            <br>
            <br>
            <br>
            <br>
            <center>
            <h1 class="ion-ios-information black"></h1>
            </center>
            <h2 class="black">About</h2>
            <hr class="black">
                <h3 class="black lead" align="center">The Googol GLaDOS Simulator is an open source* experiment to recreate the animation <a href="http://www.youtube.com/watch?v=sDhc4mKtMkU"><i>'Googol GLaDOS'</i></a> for the web.</h3>
                <h3 class="black lead" align="center">If for some reason the <a href="http://ggs.hakobaito.co.uk">official simulator</a> ever goes down, you can always use a mirror. See <a href="#mirrors">Mirrors</a>.</h3>
                <h3 class="black lead" align="center">Or you can download and host the simulator yourself right <a href="#download">here</a>.
                <h3 class="black lead" align="center">For more information on how to run the simulator, see the <a href="https://github.com/hako/googol-glados-simulator#installing">Installing</a> section.</h3>
            </h3>
            <i>
                <small class="black">*This means you are permitted to <b>view, modify, and distribute</b> the simulator under the terms of the <a href="https://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License. (CC BY-NC 4.0)</a></small>
            </i>
            <br>
            <br>
        </div>
    </div>
</div>
<br>
<br>
    <!-- End About-->
    <!-- Credits -->
    <div id="credits" class="credits">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                    <h3>{{ mwl() }} with <span style="color:#FF7373;" class="ion-ios-heart"></span> in the United Kingdom by:</h3>
                    <br>
                    <a href="https://twitter.com/hakobyte" style="padding: 25px 44px;" class="btn btn-1-1-1 btn-1d">@hakobyte</a>
                    <a href="https://twitter.com/Gauntus" style="padding: 25px 44px;" class="btn btn-1-1-1 btn-1d">@Gauntus</a>
                </div>
            </div>
        </div>
    </div>
    <!-- End Credits-->
    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">
                <ul class="list-inline">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        {{ hosted_on() }}
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-md-offset-3 text-center">
                            <ul class="list-inline">
                                <li><a href="https://www.facebook.com/GoogolGLadosSimulator"><h3 class="icon-facebook-3"></h3></li>
                                 <li><a href="https://www.youtube.com/watch?v=sDhc4mKtMkU"><h3 class="ion-social-youtube"></h3></li></a>
                                    <li><a href="http://git.io/7O4kKQ"><h3 class="ion-social-github"></h3></li></a>
                                        <li><a href="http://googolglados.tumblr.com/download"><h3 class="ion-social-windows"></h3></li></a></ul>
                            <h6 class="muted credit"><a href="http://www.hakobaito.co.uk">hakobaito.co.uk</a>  &nbsp; <a href="https://www.iubenda.com/privacy-policy/257375/legal">privacy policy</a> &nbsp;  <a href="http://hakob.yt/donate">donate</a>
                            </h6>
                            <hr>
                            <h6 class="black">&copy; {{ year }}</h6>
                            <small class="black">The Googol GLaDOS Simulator by Alex I'Anson and Wesley Hill is licensed under the Creative Commons Attribution-NonCommercial 4.0 International License.</small>
                            <br>
                            <br>
                            <small class="black">{{ version() }}</small>
                        </div>
                    </div>
            </div>
    </footer>
    <!-- End Footer -->
{% endblock %}
