/* Global Styles */

html,
body {
  height: 100%;
  width: 100%;
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.vert-text h1 {
  padding: 0;
  margin: 0;
  font-size: 4.5em;
  font-weight: 700;
}

/* Side Menu */

#sidebar-wrapper {
  margin-right: -250px;
  right: 0;
  width: 250px;
  background: #000;
  position: fixed;
  height: 100%;
  overflow-y: auto;
  z-index: 1000;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 250px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sidebar-nav li {
  line-height: 40px;
  text-indent: 20px;
}

.sidebar-nav li a {
  color: #999999;
  display: block;
  text-decoration: none;
}

.sidebar-nav li a:hover {
  color: #fff;
  background: rgba(255,255,255,0.2);
  text-decoration: none;
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 55px;
  line-height: 55px;
  font-size: 18px;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

#menu-toggle {
  top: 0;
  right: 0;
  position: fixed;
  z-index: 1;
}

#sidebar-wrapper.active {
  right: 250px;
  width: 250px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.toggle {
  margin: 5px 5px 0 0;
}

/* Full Page Image Header Area */

.header {
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: rgba(255, 255, 255, 0.88);
  background-size: cover;
}

/* Intro */

.intro {
  background: rgba(253, 186, 23, 0.88);
  padding: 45px 0;
}

/* Services */

.mirrors {
  background: rgba(46, 92, 235, 0.88);
  padding: 50px 0;
  color: #ffffff;
}

.mirrors-item {
  margin-bottom: 15px;
}

i.mirrors-icon {
  border: 3px solid #ffffff;
  border-radius: 50%;
  display: inline-block;
  font-size: 56px;
  width: 140px;
  height: 140px;
  line-height: 136px;
  vertical-align: middle; 
  text-align: center;
}

i.mirrors:hover {
  font-size: 68px;
}

/* Block */

.block {
  color: #ffffff;
  display: table;
  height: 650px;
  width: 100%;
  background: rgba(233, 45, 63, 0.88);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


/* Block 2 */

.block_2 {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: rgba(250, 250, 250, 0.88);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Block 3 */

.block_3 {
  color: #ffffff;
  display: table;
  height: 800px;
  width: 100%;
  background: rgba(6, 149, 25, 0.88);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}



/* Credits */

.credits {
  color: #000000;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAARklEQVQYV2P8////GQYiACNXaH/a11UFaYTUMhJtIjaFD2/YPZfXOCSJbAtlJmJzL6NMP1fa44KvNPbM55nxz3nTF5LnGQD6qy3lFku5NAAAAABJRU5ErkJggg==) repeat;
  padding: 50px 0;
}

.credits .btn {
  margin: 10px;
}

/* Footer */

footer {
  background: #ffffff;
  padding-bottom: 50px;
}
