
@font-face {
    font-family: 'averia_sans_libreregular';
    src: url('averia_sans_libre_regular.eot');
    src: url('averia_sans_libre_regular.eot?#iefix') format('embedded-opentype'),
         url('averia_sans_libre_regular.woff') format('woff'),
         url('averia_sans_libre_regular.ttf') format('truetype'),
         url('averia_sans_libre_regular.svg#averia_sans_libreregular') format('svg');
    font-weight: normal;
    font-style: normal;

}